@model Auction.Web.Models.AuctionItemDetailModel
<script type="text/javascript">
		function ChangeMainPicture(fileattachmentId) {
				$("#mainimage").animate({ opacity: 0 }, function () {
						var newImageUrl = "/FileAttachment/" + fileattachmentId + "?MaxHeight=461&MaxWidth=461";
						var preloadImage = new $('<img src="' + newImageUrl + '" style="display: none;" />');
						$("body").append(preloadImage);

						var mainImageElement = $(this);

						mainImageElement.height(mainImageElement.height() + "px");
						mainImageElement.width(mainImageElement.width() + "px");
						preloadImage.load(function () {
								mainImageElement.attr("src", newImageUrl);
								mainImageElement.animate(
										{
												opacity: 1,
												width: $(this).width() + "px",
												height: $(this).height() + "px"
										}, 1000);
								$(this).remove();
						});
				});

				$parentLink = $("#mainimage").closest("a");
				$parentLink.attr("href", "/FileAttachment/" + fileattachmentId);
		}

		$(function () {
				$("a[data-fileattachmentid]").each(function () {
						$(this).click(function () {
								ChangeMainPicture($(this).attr("data-fileattachmentid"));
						});
				});

				$(function () {
						$("#NewBidding_Bidding").change(function () {
								var sender = $(this);
								sender.val(sender.val().replace(/\./g, ','));
						});

						$("form").validate();
						$("form").on("submit", function (e) {
								var isValid = $(this).valid();
								if (isValid) {
										if (!confirm("Bod wordt nu geplaatst, doorgaan?")) {
												e.preventDefault();
										}
								}
						});
				});
		});
</script>
<div class="detail">
		@using (Html.BeginForm("Detail", "Auction", FormMethod.Post))
		{
				@Html.AntiForgeryToken()
				<div class="item">
						<div class="header">
								<div>
										<div>
												<span class="description">@Model.Title</span>
										</div>
								</div>
						</div>
						<div class="data">
								<div>
										<div>
												<div class="image">
														<a href="/FileAttachment/@Model.ImageFileAttachment" target="_blank">
																<img src="/FileAttachment/@Model.ImageFileAttachment?MaxHeight=461&MaxWidth=461" alt="@Model.Title" id="mainimage" /></a>
												</div>
												@if (@Model.ImageFileAttachments.Count > 1)
												{
														<div class="carrousel">
																@foreach (var fileAttachmentId in @Model.ImageFileAttachments)
																{
																		<div class="image">
																				<a href="javascript: void(0);" data-fileattachmentid="@fileAttachmentId">
																						<img src="/FileAttachment/@fileAttachmentId?MaxHeight=75&MaxWidth=75" alt="@Model.Title" /></a>
																		</div>
																}
																<div class="clear"></div>
														</div>
												}												
												<ul>
														<li>
																<span class="label">Veilingnummer:</span>
																<strong>@Model.AuctionNumber</strong>
														</li>												
												@if (Model.MinimumPrice != 0)
												{
														<li>
																<span class="label">Minimum prijs:</span>
																<strong>&euro;&nbsp;@Model.MinimumPrice</strong>
														</li>
												}
												</ul>
												<br />
												@Model.Description
										</div>
								</div>
						</div>
						<div class="footer">
								<div>
										<div></div>
								</div>
						</div>
				</div>
				<div class="biddingcontainer">
						<div class="item bidding">
								<div class="header">
										<div>
												<div>
														<span class="description">Biedingen</span>
												</div>
										</div>
								</div>
								<div class="data">
										<div>
												<div>
														@if(Model.Biddings.Count == 0) {
																<span>Er zijn nog geen biedingen uitgebracht</span>
														}else{
																<ul class="biddingoverview">
																		@foreach(var currentBid in Model.Biddings)
																		{
																				<li>
																						<div class="label"><strong>&euro;&nbsp;@currentBid.Bidding</strong></div>
																						<span>@currentBid.DateFormatted</span>
																				</li>
																		}
																</ul>
														}
												</div>
										</div>
								</div>
								<div class="footer">
										<div>
												<div></div>
										</div>
								</div>
						</div>
						@if(!@Model.AuctionEndedMailSended) {
								<div class="item newbid">
										<div class="header">
												<div>
														<div>
																<span class="description">Bieding toevoegen</span>
														</div>
												</div>
										</div>
										<div class="data">
												<div>
														<div>												
																<input type="hidden" name="Id" value="@Model.Id" />
																<ul class="formfields">
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.Bidding)</div>
																				<div class="input">@Html.TextBoxFor(model => model.NewBidding.Bidding, new { @class = "s1", placeholder = "Bod", autofocus="autofocus" })</div>
																				<div class="clear"></div>
																				<br />
																		</li>
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingName)</div>
																				<div class="input">@Html.TextBoxFor(model => model.NewBidding.BiddingName, new { @class = "s5", placeholder = "Naam" })</div>
																				<div class="clear" />
																		</li>
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingStreet, "Adres")</div>
																				<div class="input">
																						@Html.TextBoxFor(model => model.NewBidding.BiddingStreet, new { @class = "s4", placeholder = "Straat" })
																						@Html.TextBoxFor(model => model.NewBidding.BiddingHouseNumber, new { @class = "s1", placeholder = "Huisnr" })
																				</div>
																				<div class="clear" />
																		</li>

																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingZipCode, "Postcode / plaats")</div>
																				<div class="input">
																						@Html.TextBoxFor(model => model.NewBidding.BiddingZipCode, new { @class = "s1", placeholder = "Postcode" })
																						@Html.TextBoxFor(model => model.NewBidding.BiddingCity, new { @class = "s4", placeholder = "Plaats" })
																				</div>
																				<div class="clear" />
																		</li>
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingEmail)</div>
																				<div class="input">@Html.TextBoxFor(model => model.NewBidding.BiddingEmail, new { @class = "s5", placeholder = "E-mail", type = "email" })</div>
																				<div class="clear" />
																		</li>
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingPhoneNumber)</div>
																				<div class="input">@Html.TextBoxFor(model => model.NewBidding.BiddingPhoneNumber, new { @class = "s2", placeholder = "Telefoonnummer", type = "tel" })</div>
																				<div class="clear" />
																		</li>
																		<li>
																				<div class="label">@Html.LabelFor(model => model.NewBidding.BiddingMobileNumber)</div>
																				<div class="input">@Html.TextBoxFor(model => model.NewBidding.BiddingMobileNumber, new { @class = "s2", placeholder = "Mobiel nummer", type = "tel" })</div>
																				<div class="clear" />
																		</li>
																</ul>												
														</div>
												</div>
										</div>
										<div class="footer">
												<div>
														<div></div>
												</div>
										</div>
										<div class="buttonbar">
												<input type="submit" value="Bod uitbrengen" />
										</div>
								</div>		
						}
						@Html.ValidationSummary(false)						
						<div class="clear"></div>
				</div>				
		}
		<div class="clear"></div>
</div>
